@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


$font-stack: 'Poppins';
$primary-color: #f7f6f2;

* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-stack;
  background-color: $primary-color;
}
