@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$primary-color: #ffff;
$button-color: #537fe7;
$input-color: #d8d8d8;
$font-color: #191919;
$whitefont: #ffff;
$blue: #205295;
$font-stack: "Poppins";
$font-style: "Poppins";
$btn-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

// login page style

.bg-login {
  width: 100vw;
  height: 100vh;

  .flex-container {
    display: flex;

    .flexbox1 {
      display: flex;
      flex-basis: 50%;

      .loginimg {
        display: block;
        margin: 20px auto;
        width: 500px;
        height: 500px;
        background-image: url(../public/Assets/loginimg.png);
        background-repeat: no-repeat;
      }
    }

    .flexbox2 {
      display: flex;
      flex-basis: 50%;

      .login-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 100px auto;
        width: 400px;
        height: 400px;
        padding: 10px;
        background-color: #ffff;
        box-shadow: $btn-shadow;
        border-radius: 10px;

        .input {
          width: 300px;
          height: 30px;
          background-color: $input-color;
          border-radius: 5px;
          padding: 5px;

          input {
            width: 100%;
            height: 100%;
            border: none;
            font-family: $font-style;
            background: transparent;
          }
          input:focus {
            outline: none;
          }
        }

        .login-btn {
          display: block;
          margin: 20px auto;
          width: 300px;
          height: 40px;
          background-color: $blue;
          border: none;
          border-radius: 5px;
          color: $whitefont;
          font-family: $font-style;
          font-size: 18px;
          letter-spacing: 1px;
        }
        p {
          text-align: center;
        }
        .signup-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px auto;
          width: 300px;
          height: 40px;
          background-color: $primary-color;
          border: none;
          border-radius: 5px;
          box-shadow: $btn-shadow;
          color: #191919;
          font-family: $font-style;
          font-size: 16px;
          letter-spacing: 1px;
        }
        .create-btn {
          text-align: center;
          font-size: 16px;

          span {
            color: #205295;
            padding-left: 10px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

//signup page style

.signupParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  gap: 10px;
  padding: 10px;
  margin: 50px auto;
  box-shadow: $btn-shadow;
  border-radius: 5px;

  .brandName {
    font-size: 30px;
    color: #205295;
    font-weight: 900;
  }

  .input {
    width: 300px;
    height: 30px;
    background-color: $input-color;
    border-radius: 5px;
    padding: 5px;

    input {
      width: 100%;
      height: 100%;
      border: none;
      font-family: $font-style;
      background: transparent;
    }
    input:focus {
      outline: none;
    }
  }
  .btn-signup {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 40px;
    background-color: $blue;
    border: none;
    border-radius: 5px;
    color: $whitefont;
    font-family: $font-style;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .backtologin {
    span {
      color: #205295;
      padding-left: 10px;
      font-weight: 600;
    }
  }
}
