@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

$primary-color: #f7f6f2;
$button-color: #537fe7;
$input-color: #e5e0ff;
$font-color: #191919;
$whitefont: #ffff;
$blue: #205295;
$font-stack: "Source Sans Pro", sans-serif;
$font-style: Verdana, Geneva, Tahoma, sans-serif;

.bg-login {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
}
.flex-container {
  display: flex;
}
.flexbox1 {
  width: 100%;
  height: 100vh;
  flex-basis: 40%;
}
.loginimage {
  display: block;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  background-image: url(../public/Assets/loginimg.png);
  background-size: cover;
}

// login input style

.flexbox2 {
  width: 100%;
  height: 100vh;
  flex-basis: 60%;
}
.login-box {
  width: 450px;
  height: 400px;
  display: block;
  margin: 80px auto;
  padding-top: 25px;
  padding-left: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;

  label {
    color: $font-color;
    font-size: 14px;
    font-family: $font-stack;
    letter-spacing: 1px;
  }

  .input {
    width: 400px;
    height: 35px;
    margin-top: 5px;
    background-color: $input-color;
    border-radius: 5px;
    border: none;
  }
  .input:focus {
    outline: none;
  }

  p {
    text-align: center;
    padding: 10px;
    padding-right: 50px;
    color: $font-color;
  }
}

.login-btn {
  width: 400px;
  height: 40px;
  background-color: $button-color;
  color: $whitefont;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signup-btn {
  width: 400px;
  height: 50px;
  background-color: transparent;
  color: $font-color;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.create-btn {
  margin-top: 60px;

  span {
    color: $button-color;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
  }
}

// header style

.headerParentDiv {
  width: 100%;
  height: 50px;
  padding: 10px;
  position: fixed;
  background-color: $whitefont;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 5px -6px;
}
.headerChildDiv {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brandName {
  padding-left: 25px;
  font-size: 30px;
  font-weight: 700;
  color: $blue;
}
.searcharea input {
  width: 25rem;
  height: 40px;
  padding-left: 10px;
  border-radius: 15px;
  font-family: $font-style;
  border: none;
  background-color: $input-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searcharea input:focus {
  outline: none;
}
.logoutbutton {
  width: 100px;
  height: 35px;
  background-color: $button-color;
  color: $whitefont;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.postParentDiv {
  padding-top: 80px;
  padding-left: 15px;
  display: flex;
}
.postChildDiv {
  width: 300px;
  height: 350px;
  background-color: $whitefont;
  border-radius: 10px;
  position: fixed;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .profile {
    width: 100%;

    .profileimg {
      display: block;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-size: cover;
      background-image: url(../public/Assets/userlogo);
    }

    h6 {
      font-size: 14px;
      font-weight: 500;
      color: $blue;
      padding: 20px;
      font-family: $font-style;
    }
    h3 {
      padding-top: 10px;
      text-align: center;
      font-size: 22px;
      letter-spacing: 1px;
    }
    p {
      text-align: center;
      font-family: $font-style;
    }
    input {
      display: block;
      margin: 0 auto;
    }
    .imgupload {
      width: 100px;
      height: 40px;
      background-color: $button-color;
      color: $whitefont;
      font-size: 16px;
      letter-spacing: 1px;
      border-radius: 5px;
      border: none;
      display: block;
      margin: 0 auto;
      cursor: pointer;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}
.postarea {
  width: 800px;
  height: 100%;
  background-color: transparent;
  margin-left: 250px;
  border-radius: 10px;
}
.box {
  display: grid;
  margin: 10px auto;
  width: 600px;
  height: 450px;
  background-color: $whitefont;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  p {
    padding-left: 25px;
    font-size: 14px;
    color: $font-color;
    font-family: $font-style;
  }
  .postimages img {
    display: block;
    margin: 20px auto;
    width: 550px;
    max-width: 100%;
    height: 350px;
    border-radius: 5px;
  }
}

.activityChildDiv {
  float: right;
  width: 300px;
  height: 100vh;
  border-radius: 10px;
  background-color: $whitefont;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.signupParentDiv {
  width: 400px;
  height: 300px;
  background-color: $primary-color;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.signupParentDiv input {
  width: 100%;
  padding-top: 10px;
  background-color: $input-color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
}

.signupParentDiv button {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  border-color: transparent;
  background-color: $button-color;
  color: $whitefont;
  font-weight: 600;
}
.signupParentDiv button:hover {
  background-color: $input-color;
  color: $font-color;
  border: none;
}

.signupParentDiv a {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: $blue;
  text-decoration: none;
  padding-top: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}
